@import "fonts.css";
@import "vars.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primary-600 text-center text-base font-thin font-poppins;
}

@layer utilities {
  .caret-primary-300 {
    caret-color: #7F7FA7;
  }
}

label:hover {
  @apply text-primary-400;
}

button:focus {
  outline: none;
}

button,
input[type='button'],
input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: var(--font-16);
  padding: 0 35px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  height: 22px;
  width: 45px;
}

input[type='checkbox']:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @apply bg-primary-100;
  border-radius: 22px;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.2s;
  background-color: white;
  cursor: pointer;
}

input[type='checkbox']:checked:after {
  left: 26px;
  @apply bg-primary-400;
}

a:focus {
  outline: none;
}

/* global classes */
.button--primary {
  height: 35px;
  border-radius: 35px;
  @apply text-white bg-primary-400;
  border: none;
  transition: background-color 0.2s;
}

.button--primary:hover,
.button--primary:active {
  @apply bg-primary-500;
}

.button--secondary {
  @apply bg-white;
  height: 35px;
  border-radius: 35px;
  @apply text-primary-600 border border-primary-300;
  font-weight: 200;
  transition: border 0.2s;
}

.button--secondary:hover,
.button--secondary:active {
  @apply border border-primary-600;
}
