@import "fonts.css";
@import "vars.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 200;
  color: var(--col-primary-100);
  font-size: var(--font-16);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: var(--font-32);
}

h2 {
  font-size: var(--font-24);
}

label:hover {
  color: var(--col-primary-80);
}

input {
  outline: none;
}

button:focus {
  outline: none;
}

button,
input[type='button'],
input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: var(--font-16);
  padding: 0 35px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

strong {
  font-weight: 400;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  height: 22px;
  width: 45px;
}

input[type='checkbox']:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--col-primary-20);
  border-radius: 22px;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.2s;
  background-color: white;
  cursor: pointer;
}

input[type='checkbox']:checked:after {
  left: 26px;
  background-color: var(--col-primary-80);
}

a:focus {
  outline: none;
}

/* global classes */
.button--primary {
  height: 35px;
  border-radius: 35px;
  background-color: var(--col-primary-80);
  color: var(--col-white);
  border: none;
  transition: background-color 0.2s;
}

.button--primary:hover,
.button--primary:active {
   background-color: var(--col-primary-90);
}

.button--secondary {
  height: 35px;
  border-radius: 35px;
  color: var(--col-primary-100);
  background-color: var(--col-white);
  border: 1px solid var(--col-primary-70);
  font-weight: 200;
  transition: border 0.2s;
}

.button--secondary:hover,
.button--secondary:active {
  border: 1px solid var(--col-primary-100);
}

.input-text {
  border: 0;
  color: var(--col-primary-100);
  font-size: var(--font-20);
  font-weight: 200;
  text-align: center;
  caret-color: var(--col-primary-70);
  font-family: 'Poppins', sans-serif;
}
