<!DOCTYPE html>
<html>
  <head>
    <title>This domain has been blocked!</title>

    <!-- preloading fonts -->
    <link rel="preload" href="/assets/fonts/poppins/200.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/200i.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/300.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/400.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/500.ttf" as="font" crossorigin="anonymous" />
  </head>
  <body>
<!--    <header id="warning_panel">-->
<!--      <h1>This domain has been blocked for a good reason.</h1>-->
<!--      <h2>Please, pause and reconsider whether you really need to visit this site.</h2>-->
<!--    </header>-->

<!--    <button id="visit_button" class="button&#45;&#45;secondary">I need to visit this site</button>-->

<!--    <h3 id="try_again">You did not focus, let's try once again?</h3>-->
<!--    <h2 id="breath_guide">Take a deep breath</h2>-->

<!--    <div id="challenge_task">-->
<!--      <h2>Type in the following text:</h2>-->
<!--      <div id="challenge_string_wrapper">-->
<!--        <p id="challenge_string"></p>-->
<!--        <p id="correct_input"></p>-->
<!--      </div> <br>-->
<!--      <input id="challenge_input" class="input-text" type="text" size="80" />-->
<!--    </div>-->

<!--    <button id="proceed_button" class="button&#45;&#45;secondary">I really have to visit this site</button>-->
<!--    <button id="cancel_button" class="button&#45;&#45;primary">I have changed my mind</button>-->

<!--    <p id="support_us"><a href="https://www.paypal.me/andrejbilec/5" target="_blank" tabindex="-1"> BUY ME A COFFEE </a></p>-->

    <div id="app"></div>
    <script src="warning.js"></script>
  </body>
</html>
