#settings_notifications {
  display: none;
}

#settings_notifications p {
  margin-bottom: 10px;
}

#settings_notifications label {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#settings_notifications input {
  margin-left: 10px;
}

#settings_notifications button {
  margin-top: 35px;
  height: 32px;
  border-radius: 32px;
}
