<!DOCTYPE html>
<html>
  <head>
    <title>New Tab</title>

    <!-- preloading fonts -->
    <link rel="preload" href="/assets/fonts/poppins/200.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/200i.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/300.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/400.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins/500.ttf" as="font" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="01-task/task.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="02-domains/domains.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="03-mechanisms/mechanisms.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="04-notifications/notifications.css" media="screen"/>
  </head>
  <body>

<!--    <script src="../../assets/quotes.js"></script>-->
<!--    <script src="01-task/task.js"></script>-->
<!--    <script src="02-domains/domains.js"></script>-->
<!--    <script src="04-notifications/notifications.js"></script>-->
<!--    <script src="03-mechanisms/mechanisms.js"></script>-->

    <div id="app"></div>
    <script src="newtab.js"></script>
  </body>
</html>
